@charset "UTF-8";

// Colors
@import "components/color";
@import "components/variables";

$base-color: #086fbb;
$year-color: #c3c3c3;
$menu-bg: #34373a;
$sidebar-width:5%;
$list-width:50%;
$details-width:45%;

$highlight: darken($base-color, 20%);
$dark-gray:#AFAFAF;
$line-color:#D9D9D9;

$tag-colors: #EB53BC, #5662D6, #007FD9, #E17076, #05B0A0, #FAA774, #E5CA77, #7BC862, #6EC9CB;


html, body{
  height:100%;

}

#app{
  height:100%;
}
  nav{
    background-color: $base-color;
    margin:0;
  }


  // body > nav > div > div.searchbar > input
  // searchbar
  nav{
    .searchbar{
      margin: 10px auto 0 #{$sidebar-width};
      width: calc(100% - 600px);
      height: 40px;
      display: inline-block;
      position: relative;
      -webkit-transition: .3s ease all;
      -o-transition: .3s ease all;
      -moz-transition: .3s ease all;
      transition: .3s ease all;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;

      i{
        position: absolute;
        font-size: 24px;
        top: 6px;
        left: 24px;
        line-height: 32px !important;
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;

        &:focus{
          color: #444;
        }
      }

      .searchtext {
        display: block ;
        padding: 8px 8px 8px 72px ;
        width: 87% ;
        background: rgba(255, 255, 255, 0.3);
        height: 24px ;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        border: none;
        font-size: 16px;
        appearance: textfield;
        font-weight: 400;
        outline: none;
        border-radius: 3px ;
      }

      .searchtext:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      .searchtext:focus {
        color: #333;
        background: #fff;
        border-bottom: none !important;
        box-shadow: none !important;
      }



    }
  }





  .papis-content{
    height:calc(100% - #{$navbar-height});
    min-height:calc(100% - #{$navbar-height});

    // left
    .papis-sidebar{
      background-color: $menu-bg;
      height:100%;
      width:$sidebar-width;
      min-height:calc(100% - #{$navbar-height});
      float:left;

      ul > li{
        padding: 2px 0;
        text-align: center;
        i.active, i:hover{
          background: lighten($menu-bg, 5%);
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
        }
        i {
          padding: 12px;
          color: white;
        }
      }

    }

    // middle
    .papis-list{
      padding:0;
      float:left;
      width:#{$list-width};
      min-height:calc(100% - #{$navbar-height});
      height:100%;
      background-color: #F2F2F2;

      .child {
        position:absolute;
        height:calc(100% - #{$navbar-height});
        width:#{$list-width};
      }
      .scrollable {
        overflow-y:auto;
      }

      .card-panel{
        margin:0;
        padding:0;
      }

      .collection {
          margin: 0;
          .collection-item {
            p{
              margin:0;
            }
            .papis-title{
              font-weight: 500;
              color: #12588c;
            }
            .papis-author {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #9e9e9e;
            }
          }
          .collection-item:hover{
            background: #F2F2F2;
            cursor: pointer;
          }

          .collection-item-active{
            background-color: #086fbb;
            color: white;
            .papis-title{
              color: white;
            }
            .papis-author{
              color: white;
            }

            &:hover{
              background-color: #086fbb;

            }
          }


      }

      &> ul > li{
        margin:0;
      }


    }
    // right
    .papis-details{



      top:#{$navbar-height};
      position:absolute;
      left:calc(#{$list-width} + #{$sidebar-width});
      width:#{$details-width};


      padding:0;
      margin:0;
      padding:1rem 2rem 1rem 2rem;
      float:left;

      article{
        h1{
          font-size: 2.7rem;
        }
        h1{margin:0.1em 0;}
        p{line-height: 1.2rem;}
        p.authors{color:$highlight; margin-bottom:0;}
        p.journal{color:$dark-gray; margin-top:0;}
        p.url{
          margin-bottom:0;
          a{color:$dark-gray; font-size: 0.7rem; margin:0}}
        .year{color:$year-color; margin:0;font-size: 0.9rem;}
        div.abstract{

        }
      }
    }
  }


  div.fixed-action-btn.active > ul > li > a {
    transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
    opacity: 1;
  }




// /* Turn on custom 8px wide scrollbar */
// ::-webkit-scrollbar {
//   width: 10px; /* 1px wider than Lion. */
//   /* This is more usable for users trying to click it. */
//   background-color: rgba(0,0,0,0);
//   -webkit-border-radius: 100px;
// }
// /* hover effect for both scrollbar area, and scrollbar 'thumb' */
// ::-webkit-scrollbar:hover {
//   background-color: rgba(0, 0, 0, 0.09);
// }

// /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
// ::-webkit-scrollbar-thumb:vertical {
//   /* This is the EXACT color of Mac OS scrollbars.
//      Yes, I pulled out digital color meter */
//   background: rgba(0,0,0,0.5);
//   -webkit-border-radius: 100px;
//   background-clip: padding-box;
//   border: 2px solid rgba(0, 0, 0, 0);
//   min-height: 10px; /*Prevent it from getting too small */
// }
// ::-webkit-scrollbar-thumb:vertical:active {
//   background: rgba(0,0,0,0.61); /* Some darker color when you click it */
//   -webkit-border-radius: 100px;
// }

